@import "layout/var";

.cat-sec{
    margin-bottom: 30px;
    &__title{
        font-size: 24px;
        margin: 0;
        font-weight: $b;
        margin-bottom: 16px;
        color: #000000;
        strong{
            color: #E2001A;
        }
        
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 559px){
            display: block;
        }
        &__item{
            width: 50%;
            margin-bottom: 24px;
            @media (max-width: 559px){
                width: 100%;
                padding: 0!important;
            }
            &:nth-child(even){
                padding-left: 12px;
            }
            &:nth-child(odd){
                padding-right: 12px;
            }
            
        }
    }
}
.breads-wrapp-cat{
    margin-bottom: 45px;
}
.item-prod{
    background: #F7F7F7;
    display: flex;
    align-items: center;
    padding: 14px 24px;
    transition: 0.3s;
    @media (max-width: 767px){
        display: block;
    }
    &:hover{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        .butt-wrapp__butt{
            background: #E2001A;
            color: #fff;
        }
    }
    &__img{
        width: 157px;
        height: 156px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        flex-shrink: 0;
        
        @media (max-width: 991px){
            width: 80px;
        }
        @media (max-width: 767px){
           width: 100%;
            margin: 0 auto 5px auto;
        }
        @media (max-width: 559px){
            margin-bottom: 24px;
        }
    }
    &__descr{
        padding-left: 15px;
        width: 100%;
        &__link{
            display: block;
            font-size: 16px;
            font-weight: $b;
            color: #000000;
            margin-bottom: 5px;
            min-height: 60px;
            
            @media (max-width: 1199px){
              text-align: center;
            }
            @media (max-width: 767px){
                min-height: 44px;
            }
            strong{
                color: #E2001A;
            }
        }
    }
}
.other-repair{
    background: #F7F7F7;
    padding: 16px 0;
    &__wrapp{
        display: flex;
        @media (max-width: 991px){
            flex-wrap: wrap;
            justify-content: center;
        }
        
        &__item{
            width: 33.33%;
            display: flex;
            padding: 0 16px;
            @media (max-width: 991px){
                width: 50%;
                margin-bottom: 24px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            @media (max-width: 767px){
                width: 100%;
            }
            @media (max-width: 559px){
                padding: 0;
            }
            &__img{
                width: 90px;
                height: 90px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                flex-shrink: 0;
                
                @media (max-width: 991px){
                    width: 95px;
                }
                @media (max-width: 767px){
                   width: 30%;
                    margin: 0 auto 5px auto;
                }
            }
            .butt-wrapp{
                @media (max-width: 767px){
                    justify-content: flex-end;
                }
            }
            &__descr{
                padding-left: 16px;
                width: 100%;
                @media (max-width: 767px){
                   width:70%;
                   
                }
                &__link{
                    display: block;
                    font-size: 16px;
                    font-weight: $b;
                    color: #000000;
                    margin-bottom: 10px;
                    min-height: 44px;
                    
                    @media (max-width: 767px){
                        min-height: 44px;
                        
                    }
                    strong{
                        color: #E2001A;
                    }
                }
            }
        }
    }
}